<h1 class="text-center text-2xl py-4 text-shadow-2xs">PARTICIPANTES</h1>
<app-users-table
  [users]="users"
  (edit)="onEdit($event)"
  (onMakeCredentials)="onCredentials($event)"
  (onApprove)="toApprove($event)"
  (onDisapprove)="toDisapprove($event)"
  (delete)="onDelete($event)"
></app-users-table>

<app-button-add (onClick)="visible = true"></app-button-add>
<!-- MODAL -->
@if (visible) {
  <p-dialog
    maskStyleClass="backdrop-blur-sm"
    [(visible)]="visible"
    [modal]="true"
    styleClass="!border-1 !bg-transparent"
    [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }"
    [style]="{ width: '80vw' }"
    (onHide)="updateTable()"
    >
    <app-users-form (onClose)="visible = false" (onUserCreated)="onUserCreated()" ></app-users-form>
  </p-dialog>
}

@if (visibleCredentials) {
  <p-dialog
    maskStyleClass="backdrop-blur-sm"
    [(visible)]="visibleCredentials"
    [modal]="true"
    styleClass="!border-1 !bg-transparent"
    [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }"
    [style]="{ width: '40%' }"
    (onHide)="updateTable()"
    >
    <app-users-credentials (onClose)="visibleCredentials = false"></app-users-credentials>
  </p-dialog>
}

@if (visibleUserDelete) {
  <p-dialog
    maskStyleClass="backdrop-blur-sm"
    [(visible)]="visibleUserDelete"
    [modal]="true"
    styleClass="!border-1 !bg-transparent"
    [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }"
    [style]="{ width: 'fit-content' }"
    (onHide)="updateTable()"
    >
    <app-users-delete (onClose)="visibleUserDelete = false" (onDeleted)="onDeleted()" ></app-users-delete>
  </p-dialog>
}

@if (visibleUserApprover) {
  <p-dialog
    maskStyleClass="backdrop-blur-sm"
    [(visible)]="visibleUserApprover"
    [modal]="true"
    styleClass="!border-1 !bg-transparent"
    [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }"
    [style]="{ width: 'fit-content' }"
    (onHide)="updateTable()"
    >
    <app-users-approver (onClose)="visibleUserApprover = false" (onApproveOrDesapprove)="approveOrDesapprove($event)" ></app-users-approver>
  </p-dialog>
}


