<h1 class="text-center text-2xl py-4 text-shadow-2xs">PARTICIPANTES</h1>
<app-users-table
  [users]="users"
  (edit)="onEdit($event)"
  (onMakeCredentials)="onCredentials($event)"
></app-users-table>

<app-button-add (onClick)="visible = true"></app-button-add>
<!-- MODAL -->
<p-dialog
  maskStyleClass="backdrop-blur-sm"
  [(visible)]="visible"
  [modal]="true"
  styleClass="!border-1 !bg-transparent"
  [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }"
  [style]="{ width: '80vw' }"
  (onHide)="updateTable()"
  *ngIf="visible"
>
  <app-users-form></app-users-form>
</p-dialog>

<p-dialog
  *ngIf="visibleCredentials"
  maskStyleClass="backdrop-blur-sm"
  [(visible)]="visibleCredentials"
  [modal]="true"
  styleClass="!border-1 !bg-transparent"
  [breakpoints]="{ '1199px': '50vw', '575px': '90vw' }"
  [style]="{ width: '25%' }"
  (onHide)="updateTable()"
>
  <app-users-credentials></app-users-credentials>
</p-dialog>
