<h1 class="text-center text-2xl py-4 text-shadow-2xs">STANDS DISPONIBLES</h1>
<div class="flex flex-wrap gap-4">
  <!-- Tarjeta de Estación -->
  <div class="ng-star-inserted w-full sm:w-auto shadow hover:cursor-pointer hover:shadow-xl" *ngFor="let item of stands">
    <div class="text-[13px] text-center font-semibold  text-gray-700 mb-2 pt-3 min-h-5">{{ item.id }}. {{ item.point ? item.point.title : "SIN PUNTO ASIGNADO" }} </div>
    <div class="flex items-center gap-4 bg-white p-4 -md rounded-lg">
      <!-- Imagen -->
      <div class="w-[80px]  overflow-hidden rounded-md">
        <img src="img/marker.png" alt="Imagen de turno" class="w-full h-full object-cover" />
      </div>

      <!-- Botones -->
      <div class="flex flex-col gap-2">

        <button
          class="bg-amber-600 hover:bg-amber-500 text-white text-xs sm:text-sm font-semibold py-1 px-2 rounded"
          title="Asignar a un punto"
        >
          <i class="pi pi-map-marker"></i>
        </button>
        <button
          class="bg-green-600 hover:bg-green-500 text-white text-xs sm:text-sm font-semibold py-1 px-2 rounded"
          title="Agregar o Modificar inventario"
        >
          <i class="pi pi-list-check"></i>
        </button>
        <button
          class="bg-red-600 hover:bg-red-500 text-white text-xs sm:text-sm font-semibold py-1 px-2 rounded"
          title="Borrar"
        >
          <i class="pi pi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<app-button-add (onClick)="visible = true"></app-button-add>

<!-- MODAL -->
<p-dialog
  maskStyleClass="backdrop-blur-sm"
  [(visible)]="visible"
  [modal]="true"
  styleClass="!border-1 !bg-transparent"
  [breakpoints]="{ '1199px': '90vw', '575px': '90vw' }"
  [style]="{ width: '60rem' }"
>
  <app-stand-add></app-stand-add>
</p-dialog>
