
<div class="max-w-md mx-auto p-6 bg-green-900 rounded-lg shadow-lg text-white">
  <h1 class="text-center">Crear Credenciales</h1>
  <div class="border border-gray-400 rounded-2xl p-2 mb-5">
    <div> Publicador:  {{ user.fullName }}</div>
    <div> Congregación:  {{ user.congregation.name}}</div>
  </div>
  <form [formGroup]="credentialForm" (ngSubmit)="onSubmit()">
    <!-- Campo: Username -->
    <div class="mb-4">
      <label for="username" class="block text-sm font-medium">Usuario</label>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="Ingrese su usuario"
        class="mt-1 ps-2 block w-full rounded-md border-gray-300 shadow-sm focus:ring-green-500 focus:border-green-500 text-black" />
      <div *ngIf="credentialForm.get('username')?.invalid && credentialForm.get('username')?.touched" class="text-red-500 text-xs">
        El usuario es requerido.
      </div>
    </div>

    <!-- Campo: Contraseña -->
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium">Contraseña</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Ingrese su contraseña"
        class="mt-1 ps-2 block w-full rounded-md border-gray-300 shadow-sm focus:ring-green-500 focus:border-green-500 text-black" />
      <div *ngIf="credentialForm.get('password')?.invalid && credentialForm.get('password')?.touched" class="text-red-500 text-xs">
        La contraseña es requerida y debe tener al menos 6 caracteres.
      </div>
    </div>

    <!-- Campo: Bloqueado (checkbox) -->
    <!-- <div class="mb-4 flex items-center">
      <input
        id="locked"
        type="checkbox"
        formControlName="locked"
        class="h-4 w-4 text-green-600 border-gray-300 rounded" />
      <label for="locked" class="ml-2 block text-sm">
        Bloqueado
      </label>
    </div> -->

    <!-- Campo: Deshabilitado (checkbox) -->
    <!-- <div class="mb-4 flex items-center">
      <input
        id="disabled"
        type="checkbox"
        formControlName="disabled"
        class="h-4 w-4 text-green-600 border-gray-300 rounded" />
      <label for="disabled" class="ml-2 block text-sm">
        Deshabilitado
      </label>
    </div> -->

    <!-- Campo: Usuario Asociado -->
    <!-- <div class="mb-4">
      <label for="user" class="block text-sm font-medium">Usuario Asociado</label>
      <input
        id="user"
        type="text"
        formControlName="user"
        placeholder="Ingrese el usuario asociado"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-green-500 focus:border-green-500 text-black" />
      <div *ngIf="credentialForm.get('user')?.invalid && credentialForm.get('user')?.touched" class="text-red-500 text-xs">
        El usuario asociado es requerido.
      </div>
    </div> -->

    <!-- Botón para enviar el formulario -->
    <div>
      <button
        type="submit"
        class="w-full py-2 px-4 bg-green-700 hover:bg-green-800 rounded-md text-white font-semibold">
        Enviar
      </button>
    </div>
  </form>
</div>

